header {
  border: solid black 2px;
  background-color: Orchid;
  margin: 0.5%;
}

nav {
  border: solid black 2px;
  background-color: Orchid;
  margin: 0.5%;
}

body {
  border: solid black 2px;
  background-color: MediumTurquoise;
}

section  {
  border: solid black 2px;
  background-color: Orchid;
  margin: 0.5%;
}

aside {
  border: solid black 2px;
  background-color: Orchid;
  margin: 0.5%;
}

footer {
  border: solid black 2px;
  background-color: Orchid;
  margin: 0.5%;
}

img {
  width: 30vw;
  border: solid black 2px;
}
