header {
  border: solid black 2px;
  background-color: seagreen;
  width: 75vw;
  height: 20vh;
  margin: 0.5%;
}


nav {
  display: block;
  float: right;
  width: 10vw;
  border: solid black 2px;
  background-color: seagreen;
  margin: 0.5%;
}

body {
  border: solid black 2px;
  background-color: darkseagreen;
}

section  {
  border: solid black 2px;
  background-color: seagreen;
  margin: 0.5%;
}

section#challenges {
  width: 40%;
}

section.problems {
  display: inline-block;
  width: 19%;
}

aside {
  display: block;
  float: right;
  width: 20vw;
  border: solid black 2px;
  background-color: seagreen;
  margin: 0.5%;
}

footer {
  border: solid black 2px;
  background-color: seagreen;
  margin: 0.5%;
}

img {
  width: 20vw;
  height: auto;
  border: solid black 2px;
}
