header {
  float: left;
  display: inline-block;
  border: solid black 2px;
  background-color: seagreen;
  margin: 0.5%;
  width: 60vw;
}

nav {
  float: right;
  width: 30vw;
  border: solid black 2px;
  background-color: seagreen;
  margin: 0.5%;
}

body {
  border: solid black 2px;
  background-color: darkseagreen;
}

section  {
  border: solid black 2px;
  background-color: seagreen;
  margin: 0.5%;
}

section#challenges {
  display: inline-block;
  width: 40%;
}

aside {
  float: right;
  width: 35vw;
  border: solid black 2px;
  background-color: seagreen;
}

footer {
  border: solid black 2px;
  background-color: seagreen;
  margin: 0.5%;
}

img {
  width: 20vw;
  height: auto;
  border: solid black 2px;
}
