body {
  background-color: pink;
    padding: 25px;
}

img {
    float: right;
    height:400px;
    width:auto;
}
div#lab {
  padding:50px;
  background-color: lightgray;
  border: solid 1px #333333;
  height: 80vh;
}
footer {
  text-decoration: none;
  font-size: 120%;
}
